<div class="day container " [ngClass]="{
        isWeekend: day.styles.isWeekend == true,
        weekdays: day.styles.isWeekend == false,
        dayNotCurrentMonth: day.styles.dayNotCurrentMonth == true,
        selectedDay: day.styles.selectedDay == true
    }" (click)="selectedDay(day)" data-toggle="modal" data-target=".bd-example-modal-xl" [attr.idDay]="day.id">
    {{day.day}}
    <div *ngFor="let event of day.events; let i = index">
        <div *ngIf="i <= 1 && event.id != undefined">
            <span class="badge badge-secondary badge-event-day" [ngStyle]="{'background-color': event.color}">
                {{event.reminder}}
            </span>
        </div>
    </div>
    <div *ngIf="day.events.length > 2">+{{day.events.length-2}} events</div>
</div>