<div id="container">
    <div class="row">
        <button (click)="previousMonth()" type="button" class="btn btn-info back col-3 arrowbtn arrowbtnleft"><</button>
        <div class="currentMonth col-6">{{currentDate}}</div>
        <button (click)="nextMonth()" type="button" class="btn btn-info forward col-3 arrowbtn arrowbtnright">></button>
    </div>

    <div id="weekdays" class="display-grid">
        <div class="dayName" *ngFor="let weekDay of listDaysName">{{weekDay}}</div>
    </div>
    <div id="app-calendar" class="display-grid">
        <app-day [day]="day" *ngFor="let day of daysMonth" (outputSelectedDay)="receiveDataFromDayComponent($event)"></app-day>
    </div>
</div>
<!-- <app-weather></app-weather> -->

<!-- Modal to list Events -->
<app-modal-list></app-modal-list>